<!-- login.html -->
{% extends 'base.html' %}

{% load static %} <!-- Add this line -->

{% block content %}
<div class="container mx-auto">
  <h1 class="text-3xl font-bold mb-4">Login</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.auto_id }}">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">Login</button>
  </form>
</div>
{% endblock %}
